 body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        header,
        nav,
        main,
        aside,
        article,
        section,
        footer,
        figure,
        p {
            padding: 10px;
            margin: 5px;
            border-radius: 6px;
            text-align: center;
            font-weight: bold;
        }

        header {
            background-color: #f28ca4;
        }

        nav {
            background-color: #9cf2cf;
        }

        aside {
            background-color: #f2b8c6;
            float: left;
            width: 20%;
            height: auto;
        }

        main {
            background-color: #d6ecfc;
            float: left;
            width: 75%;
        }

        article {
            background-color: #a4dbf2;
        }

        figure {
            background-color: #f2ef9c;
        }

        section {
            background-color: #7dc9f2;
        }

        footer {
            clear: both;
            background-color: #d3a4f2;
        }